@tailwind base;
  @tailwind components;
  @tailwind utilities;



  root {
    --swiper-theme-color: white !important;
}
.swiper-button-prev, .swiper-button-next{
  color: white !important;
}

/* Custom bullet size */
.swiper-pagination.swiper-pagination-bullets {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;
}
/* Custom bullet styles */
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  /* Example of custom bullet size */
  width: 15px;
  height: 15px;
  /* Example of custom bullet color */
  background-color: white;
}


/* loading skeleton */
.loader {
  height: 45px;
  --c:no-repeat linear-gradient(#6d28d9);
  background:
    var(--c) left,
    var(--c) center,
    var(--c) right;
  background-size: 16px 100%;
  animation:
    l33-1 1.5s infinite,
    l33-2 1.5s infinite;
}
@keyframes l33-1 {
  0%,100% {width:45px}
  35%,65% {width:65px}
}
@keyframes l33-2 {
  0%,40%  {transform: rotate(0) }
  60%,100%{transform: rotate(90deg) }
}


.button{
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}